.nav{
    background-color: rgb(250, 251, 252);
    border-bottom: 2px solid rgb(225, 228, 232);
    width: 100%;
    height: 91px;
    margin: 0px auto 20px;
}
.title{
    display: flex;
    flex-direction: row;
    width: 88%;
    margin: 0px auto;
    padding-top: 10px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.code{
    display: flex;
    flex-direction: row;
    width: 88%;
    margin: 0px auto;
    padding: 10px 0px;
}
.span{
    margin: 0px 0.25em;
}
.span>span{
    background-color: rgb(250, 251, 252);
    border: 1px solid rgb(225, 228, 232);
    border-radius: 10px;
    padding: 0 3px;
    font-size: 14px;
}
.facebook,.react{
    color: rgb(3, 102, 214);
    text-decoration: none;
    font-size: 18px;
}
.react{
    font-weight: bold;
}

.titleList{
    display: inline-block;
    margin: 5px;
    font-size: 12px;
    border-collapse: collapse;
}

.icons{
    border-style: solid;
    border-color: rgb(205, 207, 209);
    border-image: initial;
    border-width: 1px 0px 1px 1px;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 2px 0px 0px 2px;
    background-color: rgb(244, 247, 249);
    line-height: 20px;
    cursor: pointer;
    
}

.text{
    border: 1px solid rgb(205, 207, 209);
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 0px 2px 2px 0px;
    line-height: 20px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.element{
    position: relative;
    margin-right: 7px;
}

.codeTitle{
    color: rgb(36, 41, 46);
    float: left;
    padding: 7px 15px 8px;
    white-space: nowrap;
    background-color: transparent;
    cursor: pointer;
}
.code>div:nth-child(2){
    border-bottom: 2px solid red;
}
.codeTitle>a{
    text-decoration: none;
    color: rgb(88, 96, 105);
}

.codeTitle>span{
    background-color: rgba(27, 31, 35, 0.08);
    border-radius: 20px;
    color: rgb(0, 0, 0);
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    padding: 2px 5px;
    margin-left: 2px;
}

.codeIcon{
    fill: currentcolor;
    padding-right: 5px;
    position: relative;
    top: 2px;
    display: inline-block;
}

@media screen and (max-width:1024px){
   .code{
    display: block;
   }
   .nav{
    height: 150px;
   }
}
