.container{
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
}
.container>div{
    display: flex;
}

.newIssue{
    background-color: rgb(40, 167, 69);
    background-image: linear-gradient(-180deg, rgb(52, 208, 88), rgb(40, 167, 69) 90%);
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-position: -1px -1px;
    background-repeat: repeat-x;
    background-size: 110% 110%;
    border: 1px solid rgba(27, 31, 35, 0.2);
    border-radius: 0.25em;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 12px;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}

.labels{
    border-style: solid;
    border-color: rgb(205, 207, 209);
    border-image: initial;
    border-width: 1px 0px 1px 1px;
    text-decoration: none;
    padding: 9px 14px;
    border-radius: 2px 0px 0px 2px;
    background-color: rgb(255, 255, 255);
    line-height: 20px;
    cursor: pointer;
    font-weight: bold;
    color: rgb(88, 96, 105);
}

.milestones{
    border: 1px solid rgb(205, 207, 209);
    padding: 9px 14px;
    border-radius: 0px 2px 2px 0px;
    line-height: 20px;
    text-decoration: none;
    color: rgb(88, 96, 105);
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.filters{
    border: 1px solid rgba(27, 31, 35, 0.2);
    border-radius: 0.25em 0px 0px 0.25em;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 12px;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    background-color: rgb(239, 243, 246);
    background-image: linear-gradient(-180deg, rgb(250, 251, 252), rgb(239, 243, 246) 90%);
    color: rgb(68, 77, 86);
}

.input{
    display: inline-block;
    position: relative;
}
.input>input{
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    cursor: text;
    background-position: right 8px center;
    background-repeat: no-repeat;
    border: 1px solid rgb(209, 213, 218);
    border-radius: 0px 3px 3px 0px;
    box-shadow: rgb(27 31 35 / 8%) 0px 1px 2px inset;
    line-height: 20px;
    min-height: 20px;
    outline: none;
    padding: 6px 8px 6px 30px;
    vertical-align: middle;
    font-size: 14px;
    background-color: rgb(250, 251, 252);
    color: rgb(88, 96, 105);
}

.labelMile{
    display: inline-block;
    margin: 7px 5px;
    font-size: 12px;
    border-collapse: collapse;
}

.searchIcon{
    margin-left: 25px;
    margin-right: -25px;
    position: relative;
}


@media screen and (max-width:768px){
   .container{
    display: block;
   }
   .container>div{
    display: block;
   }
 }