.nav{
    display: flex;
    background-color: rgb(246, 248, 250);
    border-top: 1px solid rgb(225, 228, 232);
    border-right: 1px solid rgb(225, 228, 232);
    border-left: 1px solid rgb(225, 228, 232);
    border-image: initial;
    border-radius: 3px 3px 0px 0px;
    justify-content: space-between;
    padding: 20px 10px;
    font-size: 16px;
    background-color: rgb(231, 231, 231);
}
.icon{
    justify-content: space-between;
}

.icon>span{
    margin: 0 5px;
}

.list{
    display: flex;
}
.list>div{
    margin: 0 5px;
}
.list>div>select{
    border: none;
    background-color: transparent;
    font-size: 16px;
    
}